body {
background-image:url('/img/journal_bkg.jpg');
background-repeat:repeat;

}

#page {
width:900px;
}
#main_pic {
position:absolute;
top:20px;
left:0px;
width:900px;
z-index:5}
#main_pic p {
border-style:solid;
border-width:0px;
border-bottom-width:1px;
}
#main_pic img {
margin:28px 0px 0px 170px;
}
#contenu {
position:absolute;
top:300px;
left:90px;
width:700px;
border-style:solid;
border-width:0px 1px 0px 1px;
padding:0px 5px 0px 5px;
}
#contenu p{
position:relative;
left:10px;
font: 12px times,helvetica,sans-serif;
text-align:justify;
text-indent:20px;
padding:0px 20px 20px 20px;
width:300px;
border-style:solid;
border-width:0px 0px 0px 0px;
}
#contenu img{
padding:15px;
margin:5px 30px 0px 30px;
}
#edition_speciale img{
position:absolute;
left:0px;
top:0px;
}
#duck {
position:absolute;
top:149px;
left:455px;
}
.photo_right{
width:300px;
float:right;
}
.photo_left{
width:300px;
text-align:center;
float:left;
font: 12px times,helvetica,sans-serif;
font-weight:500;}
