@media handheld {
body {
	float:none;
	background:#000;
}

#login_content{
	font-size:36px;
}
.left{
	float:left;
}
.right{
	float:right;
}
#main_login {
	margin:0 auto;
	top:200px;
}
.login {
	width:100px;
	display:block;
	font-size:36px;
}
.line {
	height:40px;
}
}
