/*RESET*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline; background:transparent;} body {line-height: 1;}ol, ul{list-style:none;} blockquote, q{quotes:none;} blockquote:before, blockquote:after, q:before, q:after{content:'';content:none;} :focus{outline:0;} ins{text-decoration:none;} del{text-decoration:line-through;} table{border-collapse:collapse; border-spacing:0;}


/*MAIN*/
body { 
	font-size: 1.5em;
	line-height: 2em;
	font-family: Helvetica Neue, Helvetica, Arial;
	background: #f9f9f9;
	color: #555;
}

input[type=checkbox] {
 width: 44px; height: 44px;
  -webkit-border-radius: 22px; -moz-border-radius: 22px; border-radius: 22px;
   border: 1px solid #bbb;
   }

button[type=submit] {
	 -webkit-appearance: none; -moz-appearance: none;
	 display: block;
	 margin: 1.5em 0;
	 font-size: 1em; line-height: 2.5em;
	 color: #333;
	 font-weight: bold;
	 height: 2.5em; width: 100%;
	 background: #fdfdfd; background: -moz-linear-gradient(top, #fdfdfd 0%, #bebebe 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdfdfd), color-stop(100%,#bebebe)); background: -webkit-linear-gradient(top, #fdfdfd 0%,#bebebe 100%); background: -o-linear-gradient(top, #fdfdfd 0%,#bebebe 100%); background: -ms-linear-gradient(top, #fdfdfd 0%,#bebebe 100%); background: linear-gradient(to bottom, #fdfdfd 0%,#bebebe 100%);
	 border: 1px solid #bbb;
	 -webkit-border-radius: 10px; -moz-border-radius: 10px; border-radius: 10px;
}

a {

	color: #4C9CF1;
	text-decoration: none;

}

a:hover {

	color: #444;

}

img {

}


header {

	background: #fff;
	width: 100%;
	height: 76px;
	position: fixed;
	top: 0;
	left: 0;
	border-bottom: 4px solid #4C9CF1;
	z-index: 100;

}

#logo{

	margin: 20px;
	float: left;
	width: 200px;
	height: 100px;
	background: url(../img/logo.png) no-repeat center;
	display: block;

}

nav {

padding:20px;
float:right;
width:100px;}

#menu_wrap {

	width: 100px;
	height: 100px;
	background: #4C8FEC url(../img/menu-icon.png) center;
	background-size:cover;
	right:100px;
}

a:hover#menu_wrap {

	background-color: #444;
	border-radius: 4px 4px 0 0;

}

ul {

	list-style: none;

}

li {

	display: inline-block;
	float: left;
	padding: 10px;
	line-height: 2em;
	font-size:2em;
	width:40%;
}

.current {

	color: #2262AD;

}




/*MEDIA QUERY*/
@media only screen {

	header {

		position: absolute;

	}

	#menu-icon {

		display:inline-block;

	}

	nav ul, nav:active ul { 

		display: none;
		position: absolute;
		padding: 20px;
		background: #fff;
		border: 5px solid #444;
		right: 20px;
		top: 60px;
		width: 50%;
		border-radius: 4px 0 4px 4px;

	}

	nav li {

		text-align: center;
		width: 100%;
		padding: 10px 0;
		margin: 0;

	}

	nav:hover ul {

		display: block;

	
	}
}
#pagetop
{
	font-size:2em;
	float:left;
	width:40%;
	margin-top:20px;
	padding:20px 0 0px 20px;
}
#pagetop a{
	text-decoration:none;
	margin-left:10px;
	color:black;
}
#pagetop img{
	margin:20px 0 0 30px;
	width:200px;
}
#display_greetings {
	width:400px;;
	right:120px;
	color:grey;
	display:inline;
	float:left;
	height:50px;
}
#display_greetings a{
	width:50px;
}
#foot_main{
	position:relative;
	opacity:0.9;
	/*filter:alpha(opacity=90); /* For IE8 and earlier */
	float:left;
	width:999px;
	background:#e1e1e1;
	text-align:center;
	min-height:400px;
	z-index:-1;
}
#content{
}
#foot_main_team{
	position:relative;
	float:left;
	width:999px;
	text-align:center;
	min-height:400px;
	z-index:-1;
}

#temp_items{
	width:600px;
	margin:0 auto;
	font-size:38px;
}
.standardfont {
	font: 21px lucida, sans-serif;
}
.gray {
	color:#7D0508;
	font:20px lucida,sans-serif;
}
#played {
	width:100%;
}
.matches_played_table {
	width:100%;
	float:left;
	font-size:30px;
}
.display_match_results{
	height:110px;
}
.score {
	font-weight:bold;	
	font-size:1em;
}
.column_left{
	text-align:center;
	width:20%;
}
.column_right {
	text-align:center;
	width:20%;
}
#upcoming {
	width:100%;
}
.title_main{
	margin:0 auto;
	font-weight:bold;	
	width:600px;
}

.title_main a,.title_main_played a {text-decoration:none;color:black;}
.title_main_played {
	margin:0 auto;
	font-weight:bold;
	width:100px;
	
}

.foot_match_panel {
	margin:0 auto;	
	height:250px;
	clear:left;
	width:600px;
}
.foot_match_board {
	margin:0 auto;
	width:590px;
}
.foot_mb_place_display {
	display:inline;
	width:300px;
	height:50px;
	float:left;
}
.foot_mb_team_display {
}
.foot_mb_team_display a{
}
.separator {
	float:left;
	width:30px;	
	display:inline;
	font:bold 15px lucida;
}
.image_pad img{
	display:inline;
	width:20px;
}
.team_name_left {
	float:left;
	display:inline;
	text-align:right;
	width:200px;
}
.team_name_left a{
	width:170px;
	display:inline;
}
.team_name_right {
	display:inline;
	text-align:left;
	float:right;
	width:200px;
}

.team_name_right img{
	width:20px;
	display:inline;
}
.team_name_right a{
	width:170px;
	display:inline;
}
.foot_mb_bet_display {
	margin-bottom:10px;
	height:30px;
	float:right;
	margin-top:20px;
	margin-right:100px;}
.team_display_normal {
	font-size:30px;
	text-decoration:none;
	color:black;
	}
.team_display_normal a{
	font-size:30px;
	width:200px;
	text-decoration:none;
	color:black;
	}
.team_display_big {
	font:bold 46px lucida,sans-serif;
	text-decoration:none;
	color:black;
}
.team_display_small {
	font:bold 10px lucida,sans-serif;
	text-decoration:none;
	color:black;
}
.team_display_medium {
	font-size:30px;
	text-decoration:none;
	color:#202020;
}
.team_display_normal_nobold{
	font:23px lucida,sans-serif;
	text-decoration:none;
	color:black;
}
.img_stadium {
	width:249px;
	height:50px;
	float:right;
}
.img_stadium a{
	width:100px;
	display:inline;
}
.img_stadium img{
	width:20px;
	display:inline;
}
.image_pad{
	display:inline;
	vertical-align:middle;
	margin:0px 5px 5px 5px;
	height:15px;
	width:15px;
}
.divider img{
	width:300px;
}
.divider_played {
	width:400px;
	margin-left:120px;
}
.divider_played img{
	width:300px;
}
#connected{
	float:left;
	width:300px;
	height:30px;
}
.display_match_results_rankings table {
	margin-left:220px;
	width:200px;
	font:23px bold;
}

/*
Forum
*/
#forum {
	font:22px lucida,sans-serif;
	text-align:left;
	margin-left:100px;
	line-height:1em;
}

.forum_content{
	font:30px lucida,sans-serif;
	margin-left:18px;
	width:700px;
	line-height:15px;
	margin-top:8px;
	line-height:1.4em;
}
.forum_content_flat{
	font:30px lucida,sans-serif;
	width:700px;
	line-height:15px;
	margin-top:8px;
	line-height:1em;
	line-height:1.4em;
}
.forum_thread_title{
	font-weight:bold;
	color:black;

}
.expanded{
	color:#8B2323;
	cursor:pointer;
	line-height:1.5em;
}
.post_date{
	font-size:12px;
}
.post_date_flat{
	font-size:12px;
}
.expanded:hover{
	cursor:pointer;
}
.show{
	position:static;
	display: table;
}
.hide{
	position:absolute;
	left:-999em;
	height:1px;
	width:100px;
	overflow:hidden;
}
.trigger{
	color:#2B2B2B;
	cursor:pointer;
}
.trigger:hover{
	cursor:pointer;
}		

a.ajax_link {
	text-decoration:underline;
}
a.ajax_link:link {
	cursor:pointer;
}
a.ajax_link:visited {
	cursor:pointer;
}
a.ajax_link:hover {
	cursor:pointer;
}
a.ajax_link_submit {
	text-decoration:underline;
}
a.ajax_link_submit:link {
	cursor:pointer;
}
a.ajax_link_submit:visited {
	cursor:pointer;
}
a.ajax_link_submit:hover {
	cursor:pointer;
}
a.ajax_link_cancel {
	text-decoration:underline;
}
a.ajax_link_cancel:link {
	cursor:pointer;
}
a.ajax_link_cancel:visited {
	cursor:pointer;
}
a.ajax_link_cancel:hover {
	cursor:pointer;
}
.dont-break-out {

  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;

}
/* Picks */

#bets_table {
	width:100%;
	line-height:1em;
	display:table;
	margin:0 auto;
}
#bets_table_edit {
	width:615px;
	display:table;
	margin:0 auto;
}
#bets_table_edit tr>td>input['submit']{
	font-size:30px;
	width:100px;
}
.bet_match_row {

	display:table-row;
	font: 30px lucida,sans-serif;
	height:30px;
	border:1px solid;	
}
.bet_desc {
	display:table-cell;
	width:5px;
	border-top:1px solid;
	color:#7D0705;
}
.bet_team1_display{
	display:table-cell;
	width:100px;
	border-top:1px solid;
	text-align:right;
	}
.bet_team2_display{
	display:table-cell;
	width:100px;
	border-top:1px solid;
}
.bet_bet_display {
	display:table-cell;
	border-top:1px solid;
	text-align:center;
	width:100px;
}
.bet_bet_display input{
	display:inline;
	text-align:center;
	font:bold 25px lucida,sans-serif;
}
.bet_score_display td{
	display:table-cell;
	border-top:1px solid;
	text-align:center;
	width:200px;
}
.bet_score_display_edit {
	display:table-cell;
	border-top:1px solid;
	width:105px;
	text-align:center;
}
.bet_score_display_edit input{
	width:10px;
	display:inline;
}
/* change bet*/

.cb_match_board {
	position:relative;
	width:100%;
	padding:5px 0px 5px 0px;
	margin: 0px auto;
}
.cb_mb_teams_display {
	position:relative;
	text-align:center;
	padding:10px 0 5px 0;
	line-height:4em;
}
.pick{	
	display:inline;
	width:30%;
	padding:25px 40px 5px 40px;
	text-align:right;
	line-height:2em;
	font-size:2em;
}
.pick input[type=radio] {
  border:0px;
	width:44px;
   height:2em;
   display:inline;
   }
#bet_submit,
#bet_submit input {
	font-size:2em;
}
/*team_sheet*/
.display_groups {
	font: 15px lucida;
	width: 70px;
	float:left;
	margin-left:150px;
	text-align:left;
	margin-top:50px;	
}
.display_groups a{
	color:black;
}
#team_ranking table{
	width:285px;
        border:1px solid;
       	border-color:#7D0508;
	border-spacing:0px;
	background:#f9f5f2;
	font:30px lucida,sans-serif;
}
#team_ranking td {
	padding:2px;
        border-bottom:1px solid;
        border-right:1px solid;
       	border-color:#7D0508;
}
#team_ranking img{
	vertical-align:middle;
}
/*teams*/

#teams_list{
	display:block;
	position:relative;
	height:230px;
	font-size:30px;
	float:left;
	line-height:1em;
	width:100%;
}
#big_table {
	top:0px;
	left:300px;
	display:block;
	width:890px;
	margin:0 auto;	
	color:black;
	font:30px lucida;
}
#big_table td{
	vertical-align:top;
	width:15%;
}
#big_table a{
	text-decoration:none;
	color:black;
}
.teams_table {
	width:115px;
}
#team_content{
	float:left;
	width:900px
}
#team_coach{
	width:300px;
	float:right;
	margin-left:100px;
	margin-top:100px;
}
#team_coach img{
	top:200px;
}
#team_details{
	position:relative;
	float:left;
}
#team_logo{
	height:10px;
}
#team_kit{
	height:10px;
}
/*player profile*/

.profile_results{
	width:300px;
	float:left;
	margin-left:80px;
}
.profile_data{
	float:right;
	width:400px;
	margin-right:50px;
	margin-top:50px;
}
.profile_data img{
	width:200px;
}

/*Results*/

.euro_day {
	position:relative;
	clear:left;
	display:block;
	width:720px;
	margin: 0 auto;
	border: 0px solid;
	padding:5px;

}
.euro_day_border {
	float:left;
	margin-top:5px;
	width:700px;
	border:0px ridge;  
	display:table;
}
.match_euro_day {
	position:relative;
	clear:left;
	display:block;
	margin: 0 auto;
	border: 0px solid;
	padding:5px;

}
.match_euro_day_border {
	position:relative;
	clear:left;
	display:block;
	width:630px;
	margin: 0 auto;
	border: 1px solid;
	padding:5px;

}
.date_display {
	font:bold 10px lucida,sans-serif;
	color:#7D0508;
}
.match_board {
	position:relative;
	width:700px;
	padding:5px 0px 5px 0px;
	margin: 0px auto;
	display:table-row;
}
.mb_teams_display {
	width:240px;
	font:bold 11px lucida,sans-serif;
	position:relative;
	display:table-cell;
}
.mb_teams_display img{
	position:relative;
	display:table-cell;
}
.mb_team2_display {
	width:150px;
	font:bold 11px lucida,sans-serif;
	position:relative;
	display:table-cell;
	vertical-align:middle;
	text-align:left;	
	height:15px;
}
.mb_team1_display {
	width:150px;
	font:bold 11px lucida,sans-serif;
	display:table-cell;
	position:relative;
	text-align:right;
	padding-right:4px;
	vertical-align:middle;
	height:15px;
}
.mb_bet_display {
	width:20px;
	display:table-cell;
	vertical-align:middle;
	height:15px;
}
.mb_bet_display img, #mb_teams_display img{
	vertical-align:middle;
	margin:0px 5px 0px 5px;
	display:table-cell;
	height:15px;
}
.foot_mb_match_display_result{
	position:relative;
	padding:5px 0px 5px 0px;
}
.foot_mb_match_display{
	width:400px;
	margin:0 auto;
}
.mb_odds{
	padding:5px 0px 5px 0px;
	width:250px;
}
/*odds*/
#odds{
	text-align:center;	
	margin:20px 0 10px 0;
}
#odds h4{

	text-align:center;	
	font:25px lucida,sans-serif;
	margin:0 0 8px 0;
}
#odds table{
	margin:0 auto;
	background-color:#C0C0C0;
	border:1px;
	border-color:#009900;
	border-style:solid;
	padding:12px 3px;
	text-align:center;
}
/*matches*/
#final_round_chart{
	margin-top:100px;
	float:right;
	width:420px;
}
#matches{
	float:left;
	width:550px;
	margin-top:50px;

}
/*graphs*/
#history_graph{
	width:600px;
	float:right;
	margin-right:150px;
}
#history_graph_points{
	width:800px;
	margin:0 auto;
}
#graph_members,#graph_members table{
	width:190px;
	float:left;
	text-align:left;
	margin-left:10px;
}
#other_users{
	position:absolute;
	top:500px;
	left:000px;
	width:950px;
}
#other_users table{
	text-align:left;
}
/*RSS feed live display*/
.rss_live_feed_display{
	margin-top:20px;
	font:16px lucida;
}
#odds_matches_to_come{

}

#end_top_scorers{
	float:left;
	margin-top:15px;
	width:400px;
}
.title_main_end_tournament{
	margin-right:280px;
	margin-top:10px ;
	font-weight:bold;	
	width:380px;
	float:left;
}
#main_hist{
	width:400px;
	margin:0 auto;
	padding-top:20px;
}
.all_picks{
	width:300px;
	display:inline-block;
}
.boldf{
	font-weight:bold;
}

.left{
	float:left;
}
.right{
	float:right;
}
#main_login {
	width:80%;
	margin:0 auto;
	top:100px;
}
.login {
	display:block;
	padding:50px 0;
	width:80%;
}
.line {
	height:2em;
	text-align:left;
}
.players_list{
	float:left;
	padding-top:100px;
	width:450px;
	z-index:-1;
}
#main_login input {
	color:#7D0508;
	font-size:2em;
}
#main_login p {
float:left;}

.centre {
	margin: 0 auto;
}
.left{
	float:left;
}
.right{
	float:right;
}
/*rankings*/


.ranking_table  {
	width:615px;
	font-size:30px ;
	margin:0 auto;
	white-space:nowrap;
}
.ranking_table  td{
	width:300px;
	font-size:30px;	
}
.ranking_table  td>a{
	width:300px;
	font-size:30px;	
}
#rankings_previous_winners{
        float:left;
        width:150px;
        font:14px bold lucida;
}
#rankings_previous_winners li{
        list-style-type: none;
        float:left;
        margin-bottom:10px;
}

.display_rank_table a{
			color:blue;
			text-decoration:none;
			font-size:30px;
}
.display_rank_table_me {
			font-weight:800;
			font-size:30px;
}
.team_sheet_title {
	top:20px;
}
.team_sheet_title img{
	width:150px;
}
#team_content{
	float:left;
	width:100%;
}
#team_name{
	font:bold 50px lucida;
	width:150px;
	height:50px;
	color:black;
	margin:0 auto;
}
.players_list{
}
.players_list table{
	float:right;
}
.players_list td{
	font:30px lucida;
	background:#2a2a2a;
	color:white;
	padding:5px;
}
